.container {
  min-height: 100vh;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  background: #232323;
  border-radius: 12px;
  padding: 48px 36px;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
}

.title {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 34px;
  margin-top: 1px;
}

.label {
  color: #cfcfcf;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}

.input {
  width: 100%;
  padding: 14px;
  background: #2d2d2d;
  border: 1px solid #3a3a3a;
  border-radius: 6px;
  color: white;
  margin-bottom: 22px;
  font-size: 14px;
}

.input::placeholder {
  color: #777;
}

.button {
  width: 100%;
  padding: 16px;
  background: #e50914;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background: #f6121d;
}

.footerText {
  margin-top: 24px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
}

.link {
  color: #e50914;
  font-weight: 600;
  cursor: pointer;
}
